<!DOCTYPE html>
<html>
  <head>
    <title>試作品</title>
    <meta name="viewpoint" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html {height: 100%;}
      body{height: 100%; margin: 0; padding: 0;}
      #map_canvas {height: 100%; margin: 0; padding: 0;}
      #credit {position: absolute; top: 20px; left: 200px;}
    </style>
    <link href="{{ url_for('static', filename='shop.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&sensor=false"></script>
    <script type="text/javascript">
      //<![CDATA[
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng( {{ lat }} , {{ lng }} ),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var markers = new Array();
        var infoWindowList = new Array();
        var addMarker = function(i, content, lat, lng) {
          infoWindowList[i] = new google.maps.InfoWindow({content: content});
          markers[i] = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map
          });
          google.maps.event.addListener(markers[i], 'click', function(){
            infoWindowList[i].open(map, markers[i]);
          });
        };
        {% for shop in shops %}addMarker({{ loop.index0 }}, '{{ shop['content'] | safe }}', {{ shop['lat'] }}, {{ shop['lng'] }});
        {% endfor %}
      }
      //]]>
    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas"></div>
    <div id="credit">
      <a href="http://webservice.recruit.co.jp/">
        <img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="135" height="17" border="0" title="ホットペッパー Webサービス">
      </a>
    </div>
  </body>
</html>