.tw {
	position: relative;
	width: 450px;
}

.tw_user {
	height: 48px;
	width: 100%;
	position: relative;
}

.tw_profile_image {
	position: absolute;
    top: 0;
    left: 0;
}

.tw_name {
	position: absolute;
	top: 5px;
	left: 55px;
	font-size: 1.1em;
	color: #000;
	font-weight: bold;
}

.tw_screen_name {
	position: absolute;
	top: 25px;
	left: 60px;
	color: #888;
}

.tw_name:hover, .tw_screen_name:hover {
	text-decoration: underline;
}

.tw_text {
	margin: 8px 2px;
}

.tw_created_at a, .tw_action a {
	font-size: 0.8em;
	color: #888;
	text-decoration: none;
}

.tw_created_at a:hover, .tw_action a:hover {
	text-decoration: underline;
}

.tw_action {
	position: absolute;
	bottom: 0;
	right: 5px;
}